<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameScene/GameScene_Hand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,765},{520,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,269}</string>
			</dict>
			<key>GameScene/GameScene_Hand4.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1036},{520,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,269}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,1194},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1212},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1200},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1205},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1256},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1274},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1252},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1267},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1318},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1252},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1262},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/GoldCoins/GoldCoin_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1336},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1314},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1329},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1314},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1380},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1398},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1307},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1369},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1431},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1493},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1555},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1324},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameScene/SliverCoins/SilverCoin_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1376},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>GameOverLayer/GameOver_Img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{480,692}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,692}</string>
			</dict>
			<key>GameScene/Loading_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,695},{339,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,26}</string>
			</dict>
			<key>GameScene/Loaidng_Bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,723},{337,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,24}</string>
			</dict>
			<key>GameScene/diamond/diamond0.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,427},{54,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,167}</string>
			</dict>
			<key>GameScene/diamond/diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,596},{54,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,167}</string>
			</dict>
			<key>GameScene/diamond/diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1020},{54,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,167}</string>
			</dict>
			<key>GameScene/diamond/Catch_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,1131},{77,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,61}</string>
			</dict>
			<key>GameScene/GameScene_Hand5.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1307},{520,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,269}</string>
			</dict>
			<key>GameScene/redLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1},{38,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,424}</string>
			</dict>
			<key>GameScene/GameScene_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,803},{211,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,215}</string>
			</dict>
			<key>GameScene/GameLayer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{480,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,800}</string>
			</dict>
			<key>GameScene/GreenBill/Catch_GreenBill.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1020},{57,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,109}</string>
			</dict>
			<key>GameScene/GreenBill/GreenBill.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1189},{50,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,88}</string>
			</dict>
			<key>GameScene/RedBill/Catch_RedBill.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1114},{67,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,96}</string>
			</dict>
			<key>GameScene/RedBill/RedBill.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,803},{48,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,86}</string>
			</dict>
			<key>GameScene/DoubleMoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1020},{96,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,92}</string>
			</dict>
			<key>GameScene/GreenBill/FallingGreenBill.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,695},{96,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,50}</string>
			</dict>
			<key>GameScene/RedBill/FallingRedBill.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1200},{96,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,50}</string>
			</dict>
			<key>GameScene/MainMenu_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1120},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>GameScene/Restart_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,1125},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>GameScene/pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,891},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>GameScene/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1036},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>
			<key>GameScene/Pet/Pet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,955},{125,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,168}</string>
			</dict>
			<key>GameScene/Pet/Pet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,803},{216,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,150}</string>
			</dict>
			<key>GameScene/Pet/Pet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,955},{107,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameScene.png</string>
			<key>realTextureFileName</key>
			<string>GameScene.png</string>
			<key>size</key>
			<string>{1024,1616}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1616</integer>
		</dict>
	</dict>
</plist>