<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img-sprites-box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1011},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>img-sprites-btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1812},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>img-sprites-popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{637,775}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,775}}</string>
                <key>sourceSize</key>
                <string>{637,775}</string>
            </dict>
            <key>img-sprites-text_kefu_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,782},{227,48}}</string>
                <key>offset</key>
                <string>{-140,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{227,48}}</string>
                <key>sourceSize</key>
                <string>{515,56}</string>
            </dict>
            <key>img-sprites-text_kefu_mail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,779},{611,41}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{611,41}}</string>
                <key>sourceSize</key>
                <string>{621,99}</string>
            </dict>
            <key>img-sprites-text_kefu_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,552},{228,48}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{228,48}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>img-sprites-text_kefu_phone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1290},{294,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{294,36}}</string>
                <key>sourceSize</key>
                <string>{294,38}</string>
            </dict>
            <key>img-sprites-text_kefu_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{548,128}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{548,128}}</string>
                <key>sourceSize</key>
                <string>{562,138}</string>
            </dict>
            <key>img-sprites-text_tousu.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1812},{242,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,57}}</string>
                <key>sourceSize</key>
                <string>{242,57}</string>
            </dict>
            <key>sprites-360_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,606},{487,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,172}}</string>
                <key>sourceSize</key>
                <string>{487,172}</string>
            </dict>
            <key>sprites-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1301},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>sprites-best_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1336},{169,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,74}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>sprites-bestow.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1301},{270,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,322}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>sprites-boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1959},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>sprites-box.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1586},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sprites-box_bestscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1011},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>sprites-box_contact.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sprites-box_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-28,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>sprites-box_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-44,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>sprites-box_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,552},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>sprites-box_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-box_sec.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-28,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>sprites-box_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-box_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1954},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>sprites-btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1812},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>sprites-btn_box_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-115,45.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{231,92}</string>
            </dict>
            <key>sprites-btn_goon.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-115,45.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{231,92}</string>
            </dict>
            <key>sprites-btn_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1625},{324,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,97}}</string>
                <key>sourceSize</key>
                <string>{324,97}</string>
            </dict>
            <key>sprites-change.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1881},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>sprites-diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1507},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sprites-diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1507},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>sprites-gift_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{533,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,591}}</string>
                <key>sourceSize</key>
                <string>{533,591}</string>
            </dict>
            <key>sprites-gift_box_bone.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,606},{128,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>sprites-gift_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,736},{139,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,34}}</string>
                <key>sourceSize</key>
                <string>{139,34}</string>
            </dict>
            <key>sprites-help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1719},{320,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,192}}</string>
                <key>sourceSize</key>
                <string>{320,192}</string>
            </dict>
            <key>sprites-help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1719},{320,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,192}}</string>
                <key>sourceSize</key>
                <string>{320,192}</string>
            </dict>
            <key>sprites-mainscene_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1298},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,479.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>sprites-man.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{460,345}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{460,345}}</string>
                <key>sourceSize</key>
                <string>{472,345}</string>
            </dict>
            <key>sprites-newgift_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1095},{239,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,58}}</string>
                <key>sourceSize</key>
                <string>{239,58}</string>
            </dict>
            <key>sprites-panel_10dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,779},{520,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,201}}</string>
                <key>sourceSize</key>
                <string>{520,201}</string>
            </dict>
            <key>sprites-popstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{602,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,234}}</string>
                <key>sourceSize</key>
                <string>{602,234}</string>
            </dict>
            <key>sprites-popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{637,775}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,775}}</string>
                <key>sourceSize</key>
                <string>{637,775}</string>
            </dict>
            <key>sprites-text_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1768},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,42}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>sprites-text_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1871},{86,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{86,42}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>sprites-text_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1576},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>sprites-text_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1822},{209,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{209,20}}</string>
                <key>sourceSize</key>
                <string>{215,24}</string>
            </dict>
            <key>sprites-text_goon.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1372},{448,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,56}}</string>
                <key>sourceSize</key>
                <string>{448,56}</string>
            </dict>
            <key>sprites-text_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1812},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>sprites-text_onsale.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1871},{238,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,57}}</string>
                <key>sourceSize</key>
                <string>{238,57}</string>
            </dict>
            <key>sprites-text_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1930},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>sprites-text_sec.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1632},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>sprites-text_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1392},{390,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{390,53}}</string>
                <key>sourceSize</key>
                <string>{402,57}</string>
            </dict>
            <key>sprites-text_youlose.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1095},{201,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,57}}</string>
                <key>sourceSize</key>
                <string>{201,57}</string>
            </dict>
            <key>sprites-tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1095},{193,64}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{193,64}}</string>
                <key>sourceSize</key>
                <string>{225,68}</string>
            </dict>
            <key>sprites-tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1822},{170,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,42}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>sprites-tips4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1392},{354,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{354,42}}</string>
                <key>sourceSize</key>
                <string>{364,46}</string>
            </dict>
            <key>sprites-tips5.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1768},{307,42}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{307,42}}</string>
                <key>sourceSize</key>
                <string>{319,46}</string>
            </dict>
            <key>sprites-tips6.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1724},{330,42}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{330,42}}</string>
                <key>sourceSize</key>
                <string>{346,46}</string>
            </dict>
            <key>sprites-tips7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1719},{319,72}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{319,72}}</string>
                <key>sourceSize</key>
                <string>{357,78}</string>
            </dict>
            <key>sprites-yuan0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1871},{97,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,81}}</string>
                <key>sourceSize</key>
                <string>{97,81}</string>
            </dict>
            <key>sprites-yuan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1930},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Scenes1.png</string>
            <key>size</key>
            <string>{1007,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:396f16e3a334c96725dbe747a75655d4$</string>
            <key>textureFileName</key>
            <string>Scenes1.png</string>
        </dict>
    </dict>
</plist>
