<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites-Dialog_Item.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,760},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>sprites-Props_Bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,760},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>sprites-Props_Paint.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,958},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>sprites-Props_Rainbow.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,958},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>sprites-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,699},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>sprites-bestow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,644},{114,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,136}}</string>
                <key>sourceSize</key>
                <string>{114,136}</string>
            </dict>
            <key>sprites-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,479.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>sprites-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,938},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sprites-box_bestscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,637},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>sprites-box_congrats.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-28,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>sprites-box_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-30,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>sprites-box_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-box_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-box_starnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-box_starnumplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,899},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>sprites-box_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,637},{1,1}}</string>
                <key>offset</key>
                <string>{-146,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{293,52}</string>
            </dict>
            <key>sprites-btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,571},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>sprites-btn_buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,644},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>sprites-btn_buy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,927},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>sprites-btn_buy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,896},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>sprites-btn_buy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,644},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>sprites-btn_buy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,865},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>sprites-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,872},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sprites-label_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{490,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,56}}</string>
                <key>sourceSize</key>
                <string>{490,56}</string>
            </dict>
            <key>sprites-multi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,785},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{85,46}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sprites-multi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,640},{95,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>sprites-multi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,737},{94,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{94,46}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>sprites-multi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,915},{109,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{109,46}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>sprites-multi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,817},{118,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{118,46}}</string>
                <key>sourceSize</key>
                <string>{124,52}</string>
            </dict>
            <key>sprites-multi_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,640},{95,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>sprites-multi_228.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,963},{95,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>sprites-multi_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,785},{93,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{93,46}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>sprites-multi_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,494},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{85,46}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>sprites-multi_888.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,817},{118,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{118,46}}</string>
                <key>sourceSize</key>
                <string>{124,52}</string>
            </dict>
            <key>sprites-option_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,581},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>sprites-paint_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{471,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{471,103}}</string>
                <key>sourceSize</key>
                <string>{473,103}</string>
            </dict>
            <key>sprites-panel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{567,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,103}}</string>
                <key>sourceSize</key>
                <string>{567,103}</string>
            </dict>
            <key>sprites-panel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{567,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,103}}</string>
                <key>sourceSize</key>
                <string>{567,103}</string>
            </dict>
            <key>sprites-panel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{567,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,103}}</string>
                <key>sourceSize</key>
                <string>{567,103}</string>
            </dict>
            <key>sprites-panel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{567,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,103}}</string>
                <key>sourceSize</key>
                <string>{567,103}</string>
            </dict>
            <key>sprites-panel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{567,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,103}}</string>
                <key>sourceSize</key>
                <string>{567,103}</string>
            </dict>
            <key>sprites-purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,899},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sprites-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,833},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sprites-scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{640,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,178}}</string>
                <key>sourceSize</key>
                <string>{640,178}</string>
            </dict>
            <key>sprites-scoreboard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{590,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,189}}</string>
                <key>sourceSize</key>
                <string>{590,189}</string>
            </dict>
            <key>sprites-shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{601,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,720}}</string>
                <key>sourceSize</key>
                <string>{601,720}</string>
            </dict>
            <key>sprites-yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,833},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Scenes2.png</string>
            <key>size</key>
            <string>{948,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f826106d5b592707ae903a43025867ac$</string>
            <key>textureFileName</key>
            <string>Scenes2.png</string>
        </dict>
    </dict>
</plist>
