<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameOverLayer/Tottoo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,223},{166,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,239}</string>
			</dict>
			<key>GameOverLayer/Tottoo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,617},{152,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,162}</string>
			</dict>
			<key>GameOverLayer/Watch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,480},{105,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,185}</string>
			</dict>
			<key>GameOverLayer/Watch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,164},{89,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,185}</string>
			</dict>
			<key>GameOverLayer/Hair1.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,404},{235,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,174}</string>
			</dict>
			<key>GameOverLayer/Hair2.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{273,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,223}</string>
			</dict>
			<key>GameOverLayer/Hat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{144,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>GameOverLayer/Hat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,242},{151,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,190}</string>
			</dict>
			<key>GameOverLayer/Hat3.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,783},{204,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,168}</string>
			</dict>
			<key>GameOverLayer/Hat4.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,432},{192,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,140}</string>
			</dict>
			<key>GameOverLayer/Pet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,389},{172,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,227}</string>
			</dict>
			<key>GameOverLayer/Pet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,0},{242,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,124}</string>
			</dict>
			<key>GameOverLayer/Pet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,616},{167,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,229}</string>
			</dict>
			<key>GameOverLayer/Glasses1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,769},{191,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,82}</string>
			</dict>
			<key>GameOverLayer/GameOver_Img_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,585},{215,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,32}</string>
			</dict>
			<key>GameOverLayer/Beard1.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,164},{240,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,154}</string>
			</dict>
			<key>GameOverLayer/Clothes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,578},{229,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,201}</string>
			</dict>
			<key>GameOverLayer/Clothes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,624},{218,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,167}</string>
			</dict>
			<key>GameOverLayer/Clothes3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{261,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,188}</string>
			</dict>
			<key>GameOverLayer/Clothes4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{260,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,189}</string>
			</dict>
			<key>GameOverLayer/GameOver_Btn_close_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,349},{122,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,58}</string>
			</dict>
			<key>GameOverLayer/GameOver_Btn_close_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,349},{122,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,58}</string>
			</dict>
			<key>GameOverLayer/GameOver_Img_glass.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,0},{480,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,118}</string>
			</dict>
			<key>GameOverLayer/GameOver_Img_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PushGoodsPlist.png</string>
			<key>realTextureFileName</key>
			<string>PushGoodsPlist.png</string>
			<key>size</key>
			<string>{1022,960}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>960</integer>
		</dict>
	</dict>
</plist>