<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameScene/FaceLayer/Clothes.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,975},{480,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,248}</string>
			</dict>
			<key>GameScene/FaceLayer/Eye_ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,372},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>
			<key>GameScene/FaceLayer/glass0.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,975},{480,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,222}</string>
			</dict>
			<key>GameScene/FaceLayer/Eye_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,489},{333,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{333,159}</string>
			</dict>
			<key>GameScene/FaceLayer/Mouse_catch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1461},{193,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,74}</string>
			</dict>
			<key>GameScene/FaceLayer/Mouse_catch3.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,828},{209,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,92}</string>
			</dict>
			<key>GameScene/FaceLayer/Mouse_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1461},{213,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,49}</string>
			</dict>
			<key>GameScene/FaceLayer/Mouse_normal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,3},{165,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,103}</string>
			</dict>
			<key>GameScene/FaceLayer/Mouse_normal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1461},{215,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,76}</string>
			</dict>
			<key>GameScene/FaceLayer/Mouse_catch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,174},{105,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,112}</string>
			</dict>
			<key>GameScene/FaceLayer/Mouse_catch4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,2002},{204,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,39}</string>
			</dict>
			<key>GameScene/FaceLayer/Hair1.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1558},{480,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,394}</string>
			</dict>
			<key>GameScene/FaceLayer/Hair2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,536},{480,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,524}</string>
			</dict>
			<key>GameScene/FaceLayer/Hat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,489},{480,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,187}</string>
			</dict>
			<key>GameScene/FaceLayer/Hat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,3},{480,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,176}</string>
			</dict>
			<key>GameScene/FaceLayer/Hat3.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1541},{480,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,244}</string>
			</dict>
			<key>GameScene/FaceLayer/Hat4.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,3},{480,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,170}</string>
			</dict>
			<key>GameScene/FaceLayer/Tottoo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,292},{74,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,51}</string>
			</dict>
			<key>GameScene/FaceLayer/Tottoo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,107},{89,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,52}</string>
			</dict>
			<key>GameScene/FaceLayer/Watch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,3},{62,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,88}</string>
			</dict>
			<key>GameScene/FaceLayer/Watch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,3},{69,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,98}</string>
			</dict>
			<key>GameScene/FaceLayer/Clothes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{480,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,527}</string>
			</dict>
			<key>GameScene/FaceLayer/Clothes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1558},{480,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,396}</string>
			</dict>
			<key>GameScene/FaceLayer/Clothes3.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,3},{480,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,279}</string>
			</dict>
			<key>GameScene/FaceLayer/Clothes4.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,489},{480,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,274}</string>
			</dict>
			<key>GameScene/FaceLayer/Beard1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1066},{480,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,486}</string>
			</dict>
			<key>GameScene/FaceLayer/Glasses1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1516},{480,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,217}</string>
			</dict>
			<key>GameScene/FaceLayer/Eye_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,489},{331,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,156}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FacePlist.png</string>
			<key>realTextureFileName</key>
			<string>FacePlist.png</string>
			<key>size</key>
			<string>{1381,2044}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1381</integer>
			<key>height</key>
			<integer>2044</integer>
		</dict>
	</dict>
</plist>