<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CTGcurscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,401},{130,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,37}}</string>
                <key>sourceSize</key>
                <string>{134,37}</string>
            </dict>
            <key>CTGhighscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,387},{134,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,34}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,655},{106,102}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,106},{106,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{166,162}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,74},{166,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,377},{184,182}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{184,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,313},{224,214}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{224,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>add_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,686},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>analogue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>analogue_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,575},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>blanco_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,719},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>blanco_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,561},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>bomb_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,938},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bomb_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,677},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,312},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,529},{61,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,81}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>caws_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,866},{78,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>caws_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,487},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,647},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>coin_oic.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,616},{68,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,37}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>como_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,832},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>como_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,521},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>countdown_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,534},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>cur_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,237},{71,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,18}}</string>
                <key>sourceSize</key>
                <string>{71,18}</string>
            </dict>
            <key>ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,262},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>fail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,314},{242,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,61}}</string>
                <key>sourceSize</key>
                <string>{242,61}</string>
            </dict>
            <key>gain_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{169,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,70}}</string>
                <key>sourceSize</key>
                <string>{171,72}</string>
            </dict>
            <key>gala_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,518},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>gala_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,598},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>game_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,759},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_time_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,866},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>getCoin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>get_coin_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,237},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,29}</string>
            </dict>
            <key>get_score_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,237},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,29}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,26},{144,84}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,84}}</string>
                <key>sourceSize</key>
                <string>{154,84}</string>
            </dict>
            <key>hight_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,546},{99,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>img_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,314},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>jiguang_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,946},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>jiguang_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{34,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,385}}</string>
                <key>sourceSize</key>
                <string>{34,385}</string>
            </dict>
            <key>jiguang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,664},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>laser0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,72},{32,369}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,369}}</string>
                <key>sourceSize</key>
                <string>{34,385}</string>
            </dict>
            <key>laser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,38},{32,371}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,371}}</string>
                <key>sourceSize</key>
                <string>{34,385}</string>
            </dict>
            <key>liver_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,561},{118,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,49}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>lotter_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{171,69}</string>
            </dict>
            <key>lotter_start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,593},{83,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,98}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
            <key>main_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{118,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,49}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>main_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{150,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,22}}</string>
                <key>sourceSize</key>
                <string>{150,22}</string>
            </dict>
            <key>mushroom_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,612},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>mushroom_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,609},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>notEnoughBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,94}}</string>
                <key>sourceSize</key>
                <string>{480,94}</string>
            </dict>
            <key>number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,289},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{169,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{169,70}}</string>
                <key>sourceSize</key>
                <string>{173,72}</string>
            </dict>
            <key>onceagain_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,612},{117,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,49}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>pay_rotary_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{310,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,172}}</string>
                <key>sourceSize</key>
                <string>{310,172}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,730},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,730},{79,68}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,74},{79,68}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,663},{115,108}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{115,108}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player11.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,206},{105,84}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{105,84}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player12.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,658},{105,70}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{105,70}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,904},{79,52}}</string>
                <key>offset</key>
                <string>{15,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,5},{79,52}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,26},{1,1}}</string>
                <key>offset</key>
                <string>{-82,84.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,106},{87,98}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{87,98}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,557},{99,118}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,41},{99,118}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,546},{107,122}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,39},{107,122}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,440},{115,122}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{115,122}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,423},{121,122}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,40},{121,122}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,262},{123,138}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{123,138}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,272},{127,134}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{127,134}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player9.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,112},{123,142}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{123,142}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>player_death.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,378},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>puga_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,641},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>puga_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,438},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,335},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>rasa_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,609},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>rasa_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,911},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>receive_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>receive_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{119,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,49}}</string>
                <key>sourceSize</key>
                <string>{119,51}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,529},{178,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,78}}</string>
                <key>sourceSize</key>
                <string>{178,78}</string>
            </dict>
            <key>shesu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,237},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shesu_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,956},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>small_coin_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,655},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,106},{298,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,206}}</string>
                <key>sourceSize</key>
                <string>{298,206}</string>
            </dict>
            <key>tie_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,449},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>tie_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,377},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>tigel_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,841},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>tigel_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,811},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>time_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:645bd1fd2bd1a903782c54054b65673c:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
