<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ShopLayer/Goods/Money1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,123},{58,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,37}</string>
			</dict>
			<key>ShopLayer/Goods/Money2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,56},{65,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,44}</string>
			</dict>
			<key>ShopLayer/Goods/Money3.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,55},{61,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,69}</string>
			</dict>
			<key>ShopLayer/Goods/Pet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,0},{58,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,76}</string>
			</dict>
			<key>ShopLayer/Goods/Pet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,0},{86,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,55}</string>
			</dict>
			<key>ShopLayer/Goods/Pet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,0},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>
			<key>ShopLayer/Goods/DoubleHand4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>ShopLayer/Goods/DoubleMoney5.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,0},{56,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,71}</string>
			</dict>
			<key>ShopLayer/Goods/Hair1.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,0},{72,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,51}</string>
			</dict>
			<key>ShopLayer/Goods/Hair2.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{79,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,63}</string>
			</dict>
			<key>ShopLayer/Goods/Hat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,58},{59,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,47}</string>
			</dict>
			<key>ShopLayer/Goods/Hat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,116},{46,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,57}</string>
			</dict>
			<key>ShopLayer/Goods/Hat3.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,121},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>ShopLayer/Goods/Hat4.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,162},{57,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,41}</string>
			</dict>
			<key>ShopLayer/Goods/Tottoo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,116},{33,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,49}</string>
			</dict>
			<key>ShopLayer/Goods/Tottoo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,105},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,55}</string>
			</dict>
			<key>ShopLayer/Goods/Watch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,165},{33,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,49}</string>
			</dict>
			<key>ShopLayer/Goods/Watch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>ShopLayer/Goods/Glasses1.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,58},{71,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,29}</string>
			</dict>
			<key>ShopLayer/Goods/Beard1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{55,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,37}</string>
			</dict>
			<key>ShopLayer/Goods/Clothes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,63}</string>
			</dict>
			<key>ShopLayer/Goods/Clothes3.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,51},{69,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,49}</string>
			</dict>
			<key>ShopLayer/Goods/Clothes4.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,66},{66,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,47}</string>
			</dict>
			<key>ShopLayer/Goods/Clothes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,63},{69,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GoodsPlist.png</string>
			<key>realTextureFileName</key>
			<string>GoodsPlist.png</string>
			<key>size</key>
			<string>{512,233}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>233</integer>
		</dict>
	</dict>
</plist>